@import url(reset.css);

body {
	background-image: url(../img/pizza1.jpg);
	font-family: Arial;
}

p {
	padding: 5px;
}

.sidebar {
	background-color: rgba(0, 0, 0, .5);
	float:left;
	width:310px;
	padding: 20px;
}

.logo {
	float: left;
	opacity: .8;
	width: 270px;
	height: auto;
}

.logo:hover {
	opacity: 1;
}

.company-name {
	color: #FFF;
	padding-top: 20px;
	font-size: 36px;
	text-align: center
}

.motto {
	color: #FFF;
	font-style: italic;
	padding: 5px;
	font-size: 18px;
	text-align: center;
	border-bottom-width: thin;
	border-bottom-color: #A9A9A9;
	border-bottom-style: solid;
	padding-bottom: 20px;
}

h1 {
	font-size: 140%;
	padding-bottom: 20px;
	text-align: center;
}

h2 {
	font-size: 120%;
	text-align: center;
}

h3 {
	font-size:110%;
	font-style: bold;
	padding: 5px;
	padding-top: 40px;
}

h4 {
	font-size: 105%;
	font-style: bold;
	padding-top: 15px;
	text-align: center;
}



.boxed-information {
	color: #FFF;
	font-size: 16px;
	border-color: #A9A9A9;
	border-style: solid;
	border-width: thin;
	margin-top: 40px;
	padding: 20px;
	margin-bottom: 20px;
}

.side-content-box {
	color: #FFF;
	padding-top: 30px;
	padding-bottom: 120px;
}

.icons {
	text-align: center;
}

.gmail {
	width: 50px;
	height: auto;
	padding:5px;
}

.facebook {
	width: 50px;
	height: auto;
	padding:5px;
}

.twitter {
	width: 50px;
	height: auto;
	padding:5px;
}

.navigation-bar {
	color: #FFF;
	padding: 20px;
	margin-left: 330px;
	padding: 37px;
	border-bottom-width: thin;
	border-bottom-color: #A9A9A9;
	border-bottom-style: solid;
}

nav ul {
	border-radius: 5px;
	width: 100%;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 20px;
	color: #954AE0;
	font-weight: bold;
	font-size: 150%;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	color: #FFDF00;
   	background: rgba(92, 46, 139, .6); 
	border-radius: 5px;
}

footer {
	color: #FFF;
	font-style: italic;
	font-size: 80%;	
	margin-top: 90%;
	border-top-width: thin;
	border-top-color: #A9A9A9;
	border-top-style: solid;
	padding-top: 20px;

}

.main {
	background-color: rgba(0, 0, 0, .5);
	color: #FFF;
	margin-left: 340px;
	margin-right: 40px;
	padding: 20px;
}

.menu {
	text-align: center;
}

.pizza-order {
	width:270px;
	height: auto;
}

.pizza-oven {
	width:270px;
	height: auto;
}
