@import url(reset.css);


body {
	background-image: url(../img/pizza1.jpg);
	font-family: Arial;
	background-repeat: no-repeat;
}


p {
	padding: 5px;
}

.sidebar {
	background-color: rgba(0, 0, 0, .5);
	float:left;
	width:310px;
	padding: 20px;
	height:100%;
	position:absolute;
	bottom:0;
}

.logo {
	float: left;
	opacity: .8;
	width: 270px;
	height: auto;
}

.logo:hover {
	opacity: 1;
}

.company-name {
	color: #FFF;
	padding-top: 20px;
	font-size: 36px;
	text-align: center
}

.motto {
	color: #FFF;
	font-style: italic;
	padding: 5px;
	font-size: 18px;
	text-align: center;
	border-bottom-width: thin;
	border-bottom-color: #A9A9A9;
	border-bottom-style: solid;
	padding-bottom: 20px;
}

h1 {
	font-size: 140%;
	padding-bottom: 20px;
	text-align: center;
}

h2 {
	color: #954AE0;
	font-size: 120%;
	text-align: center;
}

h3 {
	font-size:110%;
	font-style: bold;
	padding: 5px;
	padding-top: 40px;
	color: #FFDF00;
}

h4 {
	font-size: 105%;
	font-style: bold;
	padding-top: 15px;
	text-align: center;
}

h5 {
	font-style: italic;
	font-size: 90%;
}

.boxed-information {
	color: #FFF;
	font-size: 16px;
	border-color: #A9A9A9;
	border-style: solid;
	border-width: thin;
	margin-top: 40px;
	padding: 20px;
	margin-bottom: 20px;
}

.side-content-box {
	color: #FFF;
	padding-top: 30px;
	padding-bottom: 120px;
}

.icons {
	text-align: center;
}

.gmail,
.facebook,
.twitter {
	width: 50px;
	height: auto;
	padding:5px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease; 
}

.gmail:hover,
.facebook:hover,
.twitter:hover {
	-webkit-transform: scale(1.5) rotate(-5deg);
	-moz-transform: scale(1.5) rotate(-5deg);
	-o-transform: scale(1.5) rotate(-5deg);
	-ms-transform: scale(1.5) rotate(-5deg);
	transform: scale(1.5) rotate(-5deg);
}

.navigation-bar {
	color: #FFF;
	margin-left: 340px;
	margin-right: 40px; 
	text-align: center;
	padding: 35px;
	border-bottom-width: thin;
	border-bottom-color: #A9A9A9;
	border-bottom-style: solid;
}

nav ul {
	border-radius: 5px;
	width: 100%;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 20px 60px;
	color: #954AE0;
	font-weight: bold;
	font-size: 180%;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	color: #FFDF00;
   	background: rgba(92, 46, 139, .6); 
	border-radius: 5px;
}

footer {
	color: #FFF;
	clear: both;
	font-style: italic;
	font-size: 80%;	
	margin-top: 100%;
	border-top-width: thin;
	border-top-color: #A9A9A9;
	border-top-style: solid;
	padding-top: 20px;
	position:absolute;
	bottom:0;

}

.main {
	background-color: rgba(0, 0, 0, .5);
	color: #FFF;
	margin-left: 340px;
	margin-right: 40px;
	padding: 20px;
}

.youtube {
	float: left;
}

.menu {
	text-align: center;
}

.pizza-order {
	width:270px;
	height: auto;
}

.pizza-oven {
	width:270px;
	height: auto;
}

@media screen and (max-width: 1124px) {
	nav a {
		padding: 20px 30px;
	}
}

@media screen and (max-width: 945px) {
	nav a {
		font-size: 130%;
		padding: 24px 15px;
	}
}

@media screen and (max-width: 767px) {
	/* styles to apply on very narrow screens */

	.sidebar {
		display:none;
	}

	.main {
		margin: 10px;
		font-size: 80%;
		padding: 5px;
	}

	.boxed-information {
		font-size: 12px;
		padding: 5px;
	}

	.navigation-bar {
		margin: 10px;
		padding: 20px;
	}

	nav a {
		padding: 5px;
		font-size: 110%;
	}

}
